.Table > div > .Cards {
  position: absolute;
  left: -185px;
  top: -5px;
}

.holdem .Seat .Cards {
  position: absolute;
  top: -5px;
  left: 75px;
  width: 300px;
  margin-left: -72px;
}

.omaha .Seat .Cards {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
}

.omaha .Seat-1 .Cards {
  transform: translate(-55%, 0);
}

.omaha .Seat-4 .Cards {
  transform: translate(-43%, 0);
}
